@import './base.css';

#app {
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  transition: 0.4s;
  padding: 3px;
}

.separation-bar {
  width: 50%;              
  height: 3px; 
  margin: 10px auto;
  border-radius: 3px;
  
  background: linear-gradient(90deg, #000000, #343434);

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
